<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <main>
    <h1 class="titulo">Agregar Película</h1>
    <br>
        <form class="form-create" action="/admin/create" method="POST">
            <label for="title">Title </label>
            <p><input class="titulo1" type="text" name="title" id="" ></p>
            <!--<% if (locals.errors && errors.title) { %>
                <p style = "color: red"><%- errors.title.msg  %></p>
            <% } %>-->   
            <label for="rating">Rating </label>
            <p><input class="reitin" type="number" name="rating" id="" > </p>
           <!-- <% if (locals.errors && errors.rating) { %>
                <p style = "color: red"><%- errors.rating.msg  %></p>
            <% } %>-->    
            <label for="awards">Awards </label>
            <p><input class="premios" type="number" name="awards" id="" ></p>
            <!--<% if (locals.errors && errors.awards) { %>
                <p style = "color: red"><%- errors.awards.msg  %></p>
            <% } %>   -->
            <label for="release_date">Release date </label>
            <p><input class="fecha" type="date" name="release_date" id="" ></p>
            <!--<% if (locals.errors && errors.release_date) { %>
                <p style = "color: red"><%- errors.release_date.msg  %></p>
            <% } %>    -->
            <label for="length">Length </label>
            <p><input class="duracion" type="number" name="length" id="" ></p>
            <!--<% if (locals.errors && errors.length) { %>
                <p style = "color: red"><%- errors.length.msg  %></p>
            <% } %>   --> 
            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/">Listado de Películas</a>
        </p>
        </form>
    </section>
</main>
<!--aca el script-->
</body>

</html>